@import "tailwindcss";
@plugin '@tailwindcss/typography';

@theme {
  /* Color variables are overrided based on the color theme chosen in siteConfig */
  --color-primary: #007AFF;
  --color-secondary: #6B7280;
  --color-dark: #1F2937;
  --color-light: #F9FAFB;
  --color-text: #000000;
  --color-bg: #fffdf9;
  --color-stroke: #add2fa;
  --color-strokedark: #2d2f40;

  --font-sans: 'Inter', sans-serif;

  --animation-fade-in: fadeIn 0.5s ease-in-out;
  --animation-slide-up: slideUp 0.5s ease-in-out;

  --animate-line1: line 3s linear infinite;
  --animate-line2: line 6s linear infinite;
  --animate-line3: line 9s linear infinite;

  
}


@custom-variant dark (&:where(.dark, .dark *));

a {
  transition: all 0.2s ease;
  text-decoration: none;
}

@layer components {
  .container {
    @apply max-w-7xl mx-auto px-4 sm:px-6 lg:px-8;
  }
  
  .btn {
    @apply px-4 py-2 rounded-md font-medium transition-colors duration-200;
  }
  
  .btn-primary {
    @apply bg-primary text-white hover:bg-primary/90;
  }
  
  .btn-secondary {
    @apply bg-secondary text-white hover:bg-secondary/90;
  }
  
  .section-title {
    @apply text-3xl font-bold mb-8 text-center;
  }

  .border-primary {
    @apply border border-primary;
  }

} 

@layer base {
  body {
    @apply relative z-1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideUp {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes line {
    0%,
    100% {
      transform: translateY(100%);
    }
    50% {
      transform: translateY(0);
    }
}